<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Language" content="zh-tw" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <!-- 有手機版的時候要放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />

    <title>法考研究中心</title>

    <link href="/assets_front/stylesheets/public.css" rel="stylesheet" type="text/css" />
    <link href="/assets_front/stylesheets/catalog.css" rel="stylesheet" type="text/css" />

    <script src="/assets_front/javascripts/jquery_v1.10.2/jquery-1.10.2.min.js" language="javascript" type="text/javascript" ></script>
    <script src="/assets_front/javascripts/public.js" language="javascript" type="text/javascript" ></script>

  </head>

  <body lang="zh-tw">

    <div id='out_boxs'>
      <div class='top_boxs'>
        <a class='top_L icon-close'></a>

        <div class='top_mil'>
          <div class='top_btn_boxs'>
            <a class='icon-hand'></a>
          </div>
        </div>

        <a class='top_R icon-reload'></a>
      </div>

      <div class='content_boxs'>
        <div class='content_box w_box'>
          <div class='c_top_boxs boxs2'>
            <div class='title_type alone'>法考通关指南</div>
            <div class='type_size'>
              <div>小</div>
              <div class='size_hover'>中</div>
              <div>大</div>
            </div>
          </div>

          <div class='tree-box tree-gu-heght'>
            <div class='tree tree-gu'>
              <div class='main show'>
                <div class='icon-add'></div>
                <span class='title'>sadasdasdadsadasdasdadsadasdasdadsadasdasdadsadasdasdadsadasdasdad</span>

                <div class='sub'>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasdasdadasdasdadasdasdadasdasdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                </div>
              </div>

              <div class='main '>
                <div class='icon-add'></div>
                <span class='title'>sadasdasdad</span>

                <div class='sub'>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                </div>
              </div>

              <div class='main show'>
                <div class='icon-add'></div>
                <span class='title'>sadasdasdad</span>

                <div class='sub'>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                </div>
              </div>
              <div class='main show'>
                <div class='icon-add'></div>
                <span class='title'>sadasdasdadsadasdasdadsadasdasdadsadasdasdadsadasdasdadsadasdasdad</span>

                <div class='sub'>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasdasdadasdasdadasdasdadasdasdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                </div>
              </div>

              <div class='main '>
                <div class='icon-add'></div>
                <span class='title'>sadasdasdad</span>

                <div class='sub'>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                </div>
              </div>

              <div class='main show'>
                <div class='icon-add'></div>
                <span class='title'>sadasdasdad</span>

                <div class='sub'>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                  <div><span class='title'>asdadasd</span></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      
    </div>

  </body>

</html>