<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Language" content="zh-tw" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <!-- 有手機版的時候要放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />

    <title>法考研究中心</title>

    <link href="/assets_front/stylesheets/public.css" rel="stylesheet" type="text/css" />
    <link href="/assets_front/stylesheets/type.css" rel="stylesheet" type="text/css" />
    <link href="/assets_front/stylesheets/volume.css" rel="stylesheet" type="text/css" />

    <script src="/assets_front/javascripts/jquery_v1.10.2/jquery-1.10.2.min.js" language="javascript" type="text/javascript" ></script>
    <script src="/assets_front/javascripts/public.js" language="javascript" type="text/javascript" ></script>

  </head>

  <body lang="zh-tw">

    <div id='out_boxs'>
      <div class='top_boxs'>
        <a class='top_L icon-close'></a>

        <div class='top_mil'>
          <div class='top_btn_boxs'>
            <a class='icon-hand'></a>
          </div>
        </div>

        <a class='top_R icon-reload'></a>
      </div>

      <div class='content_boxs'>
        <div class='content_box w_box'>
          <div class='c_top_boxs boxs3'>
            <div class='time_boxs'>
              <div class='time_title testing'>剩余时间：03:15:20</div>
            </div>
            <div class='title_type'>2015年 司法考试 试卷B</div>
            <div class='type_size'>
              <div>小</div>
              <div class='size_hover'>中</div>
              <div>大</div>
            </div>
          </div>

          <div class='space_scroll'>
            <div class='test_date_boxs'>
              <div class='ing_title'>考试中</div>
              <div class='ing_date'>提示：提前交卷或答案交卷，请按下方交卷键，即可查询成绩与解析</div>
              <div class='ing_name'>会员：王大明</div>
              <div class='ing_con'>本卷共100道试题，由单项选择题、多项选择题、不定项选择题组成。其中单项选择题50题，每题1分；多项选择题、不定项选择题50题，每题2分。每份考卷作答时间180分钟，总分150分</div>
            </div>

            <div class='vo_nine_boxs'>
              <div class='nine_title'>考试进度一览表</div>

              <div class='nine_table_boxs'>
                <div class='nine_table_box'>
                  <div>0</div>
                  <div class='oa1'>1</div>
                  <div>2</div>
                  <div>3</div>
                  <div>4</div>
                  <div>5</div>
                  <div>6</div>
                  <div>7</div>
                  <div>8</div>
                  <div>9</div>
                  <div class='oa1'>10</div>
                </div>

                <div class='nine_table_box'>
                  <div class='oa1'>1</div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                </div>

                <div class='nine_table_box'>
                  <div>2</div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                </div>

                <div class='nine_table_box'>
                  <div>3</div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                </div>

                <div class='nine_table_box'>
                  <div>4</div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred'></div>
                  <div class='bgred test_q'>?</div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                </div>

                <div class='nine_table_box'>
                  <div>5</div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                </div>

                <div class='nine_table_box'>
                  <div>6</div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                </div>

                <div class='nine_table_box'>
                  <div>7</div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                </div>

                <div class='nine_table_box'>
                  <div>8</div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                </div>

                <div class='nine_table_box'>
                  <div>9</div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                </div>

                <div class='nine_table_box'>
                  <div>10</div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                  <div class='mi_icon'></div>
                </div>

                <div class='nine_table_box last'>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div class='oa1'>100</div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>