<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Language" content="zh-tw" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <!-- 有手機版的時候要放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />

    <title>法考研究中心</title>

    <link href="/assets_front/stylesheets/public.css" rel="stylesheet" type="text/css" />
    <link href="/assets_front/stylesheets/type.css" rel="stylesheet" type="text/css" />
    <link href="/assets_front/stylesheets/volume.css" rel="stylesheet" type="text/css" />

    <script src="/assets_front/javascripts/jquery_v1.10.2/jquery-1.10.2.min.js" language="javascript" type="text/javascript" ></script>
    <script src="/assets_front/javascripts/public.js" language="javascript" type="text/javascript" ></script>

  </head>

  <body lang="zh-tw">

    <div id='out_boxs'>
      <div class='top_boxs'>
        <a class='top_L icon-close'></a>

        <div class='top_mil'>
          <div class='top_btn_boxs'>
            <a class='icon-hand'></a>
          </div>
        </div>

        <a class='top_R icon-reload'></a>
      </div>

      <div class='content_boxs'>
        <div class='content_box w_box'>
          <div class='c_top_boxs boxs3'>
            <div class='time_boxs'>
              <div class='time_title'>历年题库阅读总时数：03:15:20</div>
            </div>
            <div class='title_type'>历年题库</div>
            <div class='type_size'>
              <div>小</div>
              <div class='size_hover'>中</div>
              <div>大</div>
            </div>
          </div>

          <div class='space_scroll'>
            <p class='pbs'>选择试卷</p>

            <div class='vo_menu_blue'>
              <span>试题解说</span>
              <div class='vo_blue_box'>
                <div class='vo_text'>题目样式：</div>
                <div class='vo_text vo_text_two'>单选题(一种答案)、多选题(二种答案以上)、不定选(一种答案以上)</div>
              </div>
              <span>每年度提供三份考卷，仅提供近五年题库给使用者</span>
            </div>

            <div class='vo_menu_link'>
              <div class='vo_link_boxs'>
                <div class='vo_year'>2017年</div>
                <div class='vo_link_box'>                  
                  <div class='vo_a_box'><a class='vo_ac'>试卷A</a></div>
                  <div class='vo_a_box'><a>试卷B</a></div>
                  <div class='vo_a_box'><a>试卷C</a></div>
                </div>
              </div>

              <div class='vo_link_boxs'>
                <div class='vo_year'>2016年</div>
                <div class='vo_link_box'>
                  <div class='vo_a_box'><a>试卷A</a></div>
                  <div class='vo_a_box'><a>试卷B</a></div>
                  <div class='vo_a_box'><a>试卷C</a></div>
                  <div class='vo_a_box'><a>试卷D</a></div>
                  <div class='vo_a_box'><a>试卷E</a></div>
                  <div class='vo_a_box'><a>试卷F</a></div>
                </div>
              </div>

              <div class='vo_link_boxs'>
                <div class='vo_year'>2015年</div>
                <div class='vo_link_box'>
                  <div class='vo_a_box'><a>试卷A</a></div>
                  <div class='vo_a_box'><a>试卷B</a></div>
                  <div class='vo_a_box'><a>试卷C</a></div>
                  <div class='vo_a_box'><a>试卷D</a></div>
                </div>
              </div>

              <div class='vo_link_boxs'>
                <div class='vo_year'>2014年</div>
                <div class='vo_link_box'>
                  <div class='vo_a_box'><a>试卷A</a></div>
                  <div class='vo_a_box'><a>试卷B</a></div>
                  <div class='vo_a_box'><a>试卷C</a></div>
                  <div class='vo_a_box'><a>试卷D</a></div>
                  <div class='vo_a_box'><a>试卷E</a></div>
                  <div class='vo_a_box'><a>试卷F</a></div>
                  <div class='vo_a_box'><a>试卷G</a></div>
                </div>
              </div>

              <div class='vo_link_boxs'>
                <div class='vo_year'>2013年</div>
                <div class='vo_link_box'>
                  <div class='vo_a_box'><a>试卷A</a></div>
                  <div class='vo_a_box'><a>试卷B</a></div>
                  <div class='vo_a_box'><a>试卷C</a></div>
                  <div class='vo_a_box'><a>试卷D</a></div>
                  <div class='vo_a_box'><a>试卷E</a></div>
                  <div class='vo_a_box'><a>试卷F</a></div>
                  <div class='vo_a_box'><a>试卷G</a></div>
                  <div class='vo_a_box'><a>试卷H</a></div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </body>

</html>